@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-fondo: #FFCF9C;
    --color-texto: #000000;
    --color-secundario-texto: #495057;
    --color-borde: #000000;
    --color-boton-encriptar: #0A3871;
    --color-boton-desencriptar: #D8DFE8;
    --color-texto-2: #FFFFFF;
    --fuente-texto: 'Inter', sans-serif;
    --fuente-texto-2:'Inter Black', sans-serif;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-texto);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 2%;
}

.contenido {
    width: 80%;
    padding: 2% 10%;
    display: flex;
    align-items: center;
    gap: 70px;
}

.contenido__instruccion {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenido__botones {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.contenido__input {
    width: 100%;
    height: 692px;
    border-radius: 24px;
    padding: 0px 20px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--fuente-texto);
    font-size: 32px;
    color: var(--color-boton-encriptar);
}
.boton__encriptar {
    background-color: var(--color-boton-encriptar);
    color: var(--color-texto-2);
    border-radius: 24px;
    width: 328px;
    height: 48px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.boton__encriptar:hover {
    background-color: var(--color-texto-2);
    color: var(--color-boton-encriptar);
    border: solid 1px var(--color-boton-encriptar);
}

.boton__desencriptar {
    background: var(--color-boton-desencriptar);
    color: var(--color-boton-encriptar);
    border-radius: 24px;
    width: 328px;
    height: 48px;
    border: solid 1px var(--color-boton-encriptar);
    font-size: 16px;
    cursor: pointer;
}

.boton__desencriptar:hover {
    background-color: var(--color-texto-2);
}


#texto-encriptado {
    width: 80%;
    height: 744px;
    border: none;
    resize: none;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 16px;
    border-radius: 24px;
    padding: 0px 30px;
    text-align:left;
    font-family: var(--fuente-texto);
    color: var(--color-secundario-texto);
}

#copiar {
    width: 328px;
    height: 48px;
    background-color: var(--color-texto-2);
    color: var(--color-boton-encriptar);
    border: 1px solid var(--color-boton-encriptar);
    border-radius: 24px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

#copiar:hover {
    background-color: var(--color-boton-desencriptar);
}

.contenido__resultado {
    width: 400px;
    height: 844px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: var(--color-texto-2);
    border-radius: 32px;
    border: solid 1px var(--color-borde);
    justify-content: center;
    text-align: center;
    line-height: 2.0;
}
@media (max-width: 1200px) {

}